$default-font: "Open Sans", Helvetica, Arial, sans-serif;
$default-font-weight-bold: 700;

$serif-font: Georgia, serif;

$title-font: "Montserrat", Helvetica, Arial, sans-serif;
$title-font-weight-light: 100;
