@import "~bulma/sass/utilities/initial-variables.sass";

$secondary: #363636;
$secondary-invert: findColorInvert($secondary) !default;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
);

$navbar-height: 3.25rem !default;
