@import "../../../../appearance/abstract";

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  &__fixed {
    display: flex;
    justify-content: space-between;
  }

  &__toggle-button {
    background-color: transparent;
    border: 0;
    color: $text-color-inverse;
    font-size: 1.3rem;
    padding: 0;
  }
}

.brand {
  align-items: center;
  display: flex;

  &:hover {
    text-decoration: none;
  }

  &__text {
    color: $text-color-inverse;
    font-size: 1.3rem;
    margin: 0;
  }

  &__icon {
    height: 1.3rem;
    margin-right: .5rem;
  }
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    margin: 0 1rem;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.menu-button-text {
  color: $text-color-inverse-translucid;
  font-weight: $default-font-weight-bold;

  &:hover {
    color: $text-color-inverse;
    text-decoration: none;
  }
}
