@import "../../../../appearance/abstract";

.navbar {
  align-items: center;
  justify-content: space-between;

  &__fixed {
    display: flex;
    justify-content: space-between;
  }

  &__toggle-button {
    background-color: transparent;
    border: 0;
    color: $text-color-inverse;
    font-size: 1.3rem;
    padding: 0;
  }
}

@include media-breakpoint-up(md) {
  .navbar {
    display: flex;
    padding: 1rem;
  }
}

.brand {
  align-items: center;
  display: flex;

  &:hover {
    text-decoration: none;
  }

  &__text {
    color: $text-color-inverse;
    font-size: 1.3rem;
    margin: 0;
  }

  &__icon {
    height: 1.3rem;
    margin-right: .5rem;
  }
}
